<section class="hero">
    <div class="hero-body">
        <h1 class="title is-1">
            Ankunft: {{ station_name }}
        </h1>
        <form [formGroup]="queryForm" (ngSubmit)="onFormSubmit()">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Bahnhof</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Bahnhof" formControlName="stationName">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Profil</label>
                        <div class="control">
                            <div class="select">
                                <select formControlName="profile">
                                    <option value="FV">Fernverkehr</option>
                                    <option value="NV">Nahverkehr</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Richtung</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Bahnhof" formControlName="directionName">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Zeitrahmen</label>
                        <div class="control">
                            <div class="select">
                                <select formControlName="duration">
                                    <option value="15">15 Minuten</option>
                                    <option value="30">30 Minuten</option>
                                    <option value="45">45 Minuten</option>
                                    <option value="60">60 Minuten</option>
                                    <option value="75">75 Minuten</option>
                                    <option value="90">90 Minuten</option>
                                    <option value="105">105 Minuten</option>
                                    <option value="120">120 Minuten</option>
                                    <option value="135">135 Minuten</option>
                                    <option value="150">150 Minuten</option>
                                    <option value="165">165 Minuten</option>
                                    <option value="180">180 Minuten</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Absenden</label>
                        <div class="control">
                            <button (click)="onFormSubmit()" class="button is-success">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="section">
    <div *ngIf="arrivals?.length >= 1; else notFound">
        <div class="card mb-4" *ngFor="let train of arrivals">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <p class="title"> {{ train.line.productName }}</p>
                    </div>
                    <div class="media-content">
                        <p class="title is-4"> {{ train.line.fahrtNr }}
                            <span class="tag is-danger" *ngIf="train.delay >= 5"> Verspätung: {{ train.delay}}
                                Minuten</span>
                            <span class="tag is-success" *ngIf="(train.delay < 5 && train.delay != null)">
                                Pünktlich</span>
                            <span class="tag is-warning" *ngIf="train.delay == null"> fehlende Daten</span>
                            <span class="tag is-danger" *ngIf="train.cancelled"> Zug fällt aus</span>
                        </p>
                        <p class="subtitle is-6"> {{ train.provenance }} </p>
                    </div>
                </div>
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                Ankunft:
                            </td>
                            <td> {{ train.when | date:'HH:mm' }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gleis:
                            </td>
                            <td>
                                {{ train.platform }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Betreiber:
                            </td>
                            <td>
                                {{ train.line.operator.name }}
                            </td>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a href="/train/{{ train.tripId }}/?lineName={{ train.line.name }}" class="card-footer-item">Details</a>
            </footer>
        </div>
    </div>
    <ng-template #notFound>
        <div class="notification is-info">
            Nichts gefunden. Bitte ändere die Suchparameter.
        </div>
    </ng-template>
</section>